#block-holder {
	--size-grid-border: 0.2em;
	--size-grid-gap: var(--size-tab-padding-vert);
	--size-archetype: 7em;
	--size-commitment: 8em;
	--size-focus: 3em;
	--size-growth: 4em;
	--size-language: 7em;
	--size-main: 4em;
	--size-name: 10em;
	--size-sid: 8em;
	--size-size: 4em;
}

.listing {
	grid-row: span 2;
}

.table {
	display: block;
	position: relative;
	box-sizing: border-box;
	border-collapse: collapse;
}
.table .row:first-child {
	font-weight: bold;
	text-align: center;
}

.row {
	display: grid;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border: solid var(--size-grid-border) var(--tab-holder-background);
	grid-gap: var(--size-grid-gap);
	grid-template-columns:
		var(--size-commitment)
		var(--size-focus)
		var(--size-focus)
		var(--size-main)
		var(--size-growth)
		minmax(var(--size-name), 1fr);
}
.archetype {
	color: var(--colour-table-secondary);
	grid-column: 2 / span 2;
	grid-row: 2;
	text-align: center;
}
.row:not(:first-child) .archetype {
	grid-row: 3;
}
.commitment {
	grid-column: 1;
	grid-row 3;
	text-align: center;
}
.focuses-header {
	grid-column: 2 / span 2;
	margin: auto;
}
.focus-primary {
	grid-column: 2;
	grid-row: 1 / span 2;
	height: 3em;
}
.focus-secondary {
	grid-column: 3;
	grid-row: 1 / span 2;
	height: 3em;
}
.growth {
	font-weight: bold;
	grid-column: 5;
	grid-row: 1 / span 2;
	margin: auto;
	text-align: center;
}
.language {
	color: var(--colour-table-secondary);
	grid-column: 1;
	grid-row: 2;
	text-align: center;
}
.main {
	color: var(--colour-table-secondary);
	font-weight: bold;
	grid-column: 4;
	grid-row: 2 / span 2;
	text-align: center;
}
.name {
	grid-column: 6;
	grid-row: 1 / span 2;
	margin: auto;
	text-align: center;
	width: 100%;
}
.sid {
	box-sizing: border-box;
	font-weight: bold;
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	width: 100%;
}
.size {
	font-weight: bold;
	grid-column: 4;
	grid-row: 1;
	text-align: center;
}

.grid7 .row {
	grid-template-columns:
		var(--size-archetype)
		var(--size-focus)
		var(--size-focus)
		var(--size-commitment)
		var(--size-main)
		var(--size-growth)
		minmax(var(--size-name), 1fr);
}
.grid7 .archetype {
	grid-column: 1;
	grid-row: 2 !important;
}
.grid7 .commitment {
	grid-column: 4;
	grid-row 1;
}
.grid7 .growth {
	grid-column: 6;
}
.grid7 .language {
	grid-column: 4;
}
.grid7 .main {
	grid-column: 5;
	grid-row: 2;
}
.grid7 .name {
	grid-column: 7;
}
.grid7 .size {
	grid-column: 5;
}

.grid8 .row {
	grid-template-columns:
		var(--size-archetype)
		var(--size-focus)
		var(--size-focus)
		var(--size-commitment)
		var(--size-size)
		var(--size-main)
		var(--size-growth)
		minmax(var(--size-name), 1fr);
}
.grid8 .growth {
	grid-column: 7;
}
.grid8 .main {
	grid-column: 6;
	grid-row: 1 / span 2;
	margin: auto;
}
.grid8 .name {
	grid-column: 8;
}
.grid8 .size {
	color: var(--colour-table-primary);
	margin: auto;
	grid-column: 5;
	grid-row: 1 / span 2;
}

.grid9 .row {
	grid-template-columns:
		var(--size-archetype)
		var(--size-focus)
		var(--size-focus)
		var(--size-commitment)
		var(--size-size)
		var(--size-main)
		var(--size-growth)
		var(--size-sid)
		minmax(var(--size-name), 1fr);
}
.grid9 .archetype {
	color: var(--colour-table-primary);
	grid-column: 1;
	grid-row: 1 / span 2 !important;
	margin: auto;
}
.grid9 .name {
	grid-column: 9;
}
.grid9 .sid {
	color: var(--colour-table-secondary);
	grid-column: 8;
	grid-row: 1 / span 2;
	margin: auto;
	padding-left: 1em;
	text-align: left;
}

.bounty-hunting {
	background-image: url("/images/activities/Bounty_hunting.png");
}

.engineering {
	background-image: url("/images/activities/Engineering.png");
}

.exploration {
	background-image: url("/images/activities/Exploration.png");
}

.freelancing {
	background-image: url("/images/activities/Freelancing.png");
}

.infiltration {
	background-image: url("/images/activities/Infiltration.png");
}

.piracy {
	background-image: url("/images/activities/Piracy.png");
}

.resources {
	background-image: url("/images/activities/Resources.png");
}

.scouting {
	background-image: url("/images/activities/Scouting.png");
}

.security {
	background-image: url("/images/activities/Security.png");
}

.smuggling {
	background-image: url("/images/activities/Smuggling.png");
}

.social {
	background-image: url("/images/activities/Social.png");
}

.trading {
	background-image: url("/images/activities/Trade.png");
}

.transport {
	background-image: url("/images/activities/Transport.png");
}

