:root {
	/* Official AotW colours */
	--colour-brand-black:  #000000;
	--colour-brand-grey:   #787878;
	--colour-brand-orange: #ff3000;
	--colour-brand-white:  #ffffff;
	
	/* Unapproved brand colours */
	--colour-border: #404040;
	--colour-brand-turquoise-10:        rgb(  0,  18,  22);
	--colour-brand-turquoise-20:        rgb( 16,  40,  48);
	--colour-orange-static:             rgb(229, 138,   5);
	--colour-orange-interactive:        rgb(208, 186, 147);
	--colour-orange-interactive-glow:   rgba(255, 118,  17, 0.5);
	--colour-orange-hovered:            rgb(254, 250, 231);
	
	/* Other colours */
	--colour-border: var(--colour-orange-static);
	
	--colour-affil:  rgb(  0, 170,   0);
	--colour-main:   var(--colour-orange-static);
	--colour-hidden: rgb(200,   0,   0);
	--colour-size:   rgb(205, 205, 205);
	
	--tab-holder-background: var(--colour-brand-turquoise-20);
	--colour-table-primary: white;
	--colour-table-secondary: var(--colour-orange-static);
	
	/* Fonts */
	--font-size-tab: 1em;
	
	/* Sizing */
	--size-border: 1px;
	--size-controls-spacing: 0.4em;
	--size-tab-padding-vert: 0.3em;
	--size-tab-padding-horiz: 0.6em;
	--size-tab-height-base: 1.5em;
	--size-tab-height: calc(var(--size-tab-padding-vert) * 4 + var(--size-tab-height-base));
	--size-width-min: 500px;
	--size-width-ideal: 660px;
}

@font-face {
	font-family: 'Prototype';
	src: url(../assets/Prototype.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

