.table {
	display: block;
	position: relative;
	box-sizing: border-box;
	border-collapse: collapse;
}
.table .row:first-child {
	text-align: center;
}

.row {
	display: grid;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border: solid 0.2em var(--tab-holder-background);
	grid-gap: var(--size-cell-padding);
	grid-template-columns: 7em 3em 3em 8em minmax(8.5em, 1fr) 4em 4em;
}

.archetype {
	grid-column: 1;
	grid-row: 2;
	color: var(--colour-table-secondary);
	text-align: center;
}
.commitment {
	grid-column: 4;
	grid-row 1;
	text-align: center;
}
.focuses-header {
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
	margin: auto;
}
.focus-primary {
	grid-column: 2;
	grid-row: 1 / span 2;
}
.focus-secondary {
	grid-column: 3;
	grid-row: 1 / span 2;
}
.growth {
	grid-column: 7;
	grid-row: 1 / span 2;
	margin: auto;
	text-align: center;
}
.language {
	grid-column: 4;
	grid-row: 2;
	color: var(--colour-table-secondary);
	text-align: center;
}
.main {
	grid-column: 6;
	grid-row: 2;
	color: var(--colour-table-secondary);
	text-align: center;
}
.name {
	grid-column: 5;
	grid-row: 1 / span 2;
	margin: auto;
	text-align: center;
}
.sid {
	grid-column: 1;
	grid-row: 1;
	text-align: center;
}
.size {
	grid-column: 6;
	grid-row: 1;
	text-align: center;
}


.bounty-hunting {
	background-image: url("/images/activities/Bounty_hunting.png");
}

.engineering {
	background-image: url("/images/activities/Engineering.png");
}

.exploration {
	background-image: url("/images/activities/Exploration.png");
}

.freelancing {
	background-image: url("/images/activities/Freelancing.png");
}

.infiltration {
	background-image: url("/images/activities/Infiltration.png");
}

.piracy {
	background-image: url("/images/activities/Piracy.png");
}

.resources {
	background-image: url("/images/activities/Resources.png");
}

.scouting {
	background-image: url("/images/activities/Scouting.png");
}

.security {
	background-image: url("/images/activities/Security.png");
}

.smuggling {
	background-image: url("/images/activities/Smuggling.png");
}

.social {
	background-image: url("/images/activities/Social.png");
}

.trading {
	background-image: url("/images/activities/Trade.png");
}

.transport {
	background-image: url("/images/activities/Transport.png");
}

