body {
	display: block;
	position: relative;
	height: 1000px;
	background-color: var(--colour-brand-turquoise-10);
	color: white;
}

:root {
	--grid-row-height: 10px;/* affects browser compatibility */
}

.hide {
	display: none !important;
}

#block-holder {
	--size-grid-border: 0.2em;
	--size-grid-gap: var(--size-tab-padding-vert);
	--size-archetype: 7em;
	--size-commitment: 8em;
	--size-focus: 3em;
	--size-growth: 4em;
	--size-language: 7em;
	--size-main: 4em;
	--size-name: 10em;
	--size-sid: 8em;
	--size-size: 4em;
	background-color: var(--tab-holder-background);
	
	box-sizing: border-box;
	display: grid;
	position: relative;
	grid-auto-rows: var(--grid-row-height);
	grid-template-columns: repeat(var(--num-cols), minmax(500px, 1fr));
	width: 100%;
	--size-height-chart: 41;
	/* SET BY JAVSCRIPT */
	--num-cols: 1;
	--size-height-table: 1;
}
#block-holder .chart {
	grid-row: span var(--size-height-chart);
}

.block {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 100%;
	height: initial;
}

#controls-holder {
	box-sizing: border-box;
	display: grid;
	position: relative;
	
	justify-content: center;
	width: 100%;
	min-width: 500px;
	padding: var(--size-tab-padding-vert);
	margin: 0 auto;
	background-color: var(--tab-holder-background);
	
	grid-gap: var(--size-controls-spacing);
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

@media only screen and (max-width: 1100px) {
	#controls-holder #recruiting {
		grid-row: 2;
		grid-column: 5;
	}
}
@media only screen and (max-width: 1000px) {
	#controls-holder #commitment {
		grid-row: 2;
		grid-column: 2;
	}
	#controls-holder #recruiting {
		grid-row: 2;
		grid-column: 4;
	}
}
@media only screen and (max-width: 800px) {
	#controls-holder #languages {
		grid-row: 2;
		grid-column: 1;
	}
	#controls-holder #commitment {
		grid-row: 2;
		grid-column: 2;
	}
	#controls-holder #recruiting {
		grid-row: 2;
		grid-column: 3;
	}
}

#controls-holder #run {
	width: 4em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-radius: 0.5em;
	background-color: green;
}
