/* add close tab icon */
.close-icon {
	position: absolute;
	top: var(--size-border);
	right: var(--size-border);
	width: var(--size-close-icon);
	height: var(--size-close-icon);
	padding: var(--size-tab-padding-vert);
	text-align: center;
	font-size: var(--font-size-tab);
	font-weight: bold;
	color: var(--colour-orange-interactive);
	z-index: 2;
}
.close-icon:hover {
	color: var(--colour-orange-hovered);
}

body {
	color: white;
}

#block-holder {
	display: grid;
	position: relative;
	box-sizing: border-box;
	--num-cols: 1;/* SET BY JAVSCRIPT */
	grid-auto-rows: auto;
	grid-gap: var(--size-tab-padding-horiz);
	grid-template-columns: repeat(var(--num-cols), minmax(500px, 1fr));
	width: 100%;
}

.block {
	display: inline-block;
	position: relative;
	width: 100%;
}
