body {
	display: block;
	position: relative;
	height: 1000px;
	background-color: var(--colour-brand-turquoise-10);
}

body div.tabs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	min-width: 500px;
	padding: var(--size-tab-padding-vert);
	margin: 0 auto;
	background-color: var(--tab-holder-background);
}

body div.tabs .tab {
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: var(--size-tab-height);
	height: var(--size-tab-height);
	padding: var(--size-tab-padding-vert) var(--size-tab-padding-horiz);
	padding-right: calc(var(--size-close-icon) + var(--size-tab-padding-horiz));
	/* ADHOC MARGIN by using border to create flexbox item spacing */
	border: solid var(--size-tab-padding-vert) var(--tab-holder-background);
	background: var(--colour-brand-turquoise-10);
	font-weight: bold;
	font-size: var(--font-size-tab);
}
/* ADHOC BORDER because we're already using border for spacing */
body div.tabs .tab::before {
	box-sizing: border-box;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	border: solid var(--size-border) var(--colour-border);
	width: 100%;
	height: 100%;
	z-index: 1;
}

