body {
	display: block;
	position: relative;
	height: 1000px;
	background-color: var(--colour-brand-turquoise-10);
}

body div.tabs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	min-width: 500px;
	padding: var(--size-tab-padding-vert);
	margin: 0 auto;
	--tab-holder-background: var(--colour-brand-turquoise-20);
	background-color: var(--tab-holder-background);
}

body div.tabs .tab {
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: var(--size-tab-height);
	height: var(--size-tab-height);
	padding: var(--size-tab-padding-vert);
	padding-right: var(--size-tab-padding-right);
	padding-left: var(--size-tab-padding-left);
	/* ADHOC MARGIN -- repurposing the BORDER to create flexbox item spacing */
	border: solid var(--size-tab-padding-vert) var(--tab-holder-background);
	background: var(--colour-brand-turquoise-10);
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}
/* add actual border because we're already using border for spacing */
body div.tabs .tab::before {
	box-sizing: border-box;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	border: solid var(--size-border) var(--colour-border);
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* add close tab icon */
body div.tabs .tab .close-icon {
	position: absolute;
	content: "";
	top: var(--size-border);
	right: var(--size-border);
	width: var(--size-tab-close-icon);
	height: var(--size-tab-close-icon);
	padding: var(--size-tab-padding-vert);
	z-index: 2;
}
