.block.chart {
	border: 0.2em solid var(--tab-holder-background);
}

.line {
	fill: none;
}
.line.line-affil {
	stroke: var(--colour-affil);
	stroke-width: 2px;
}
.line.line-hidden {
	stroke: var(--colour-hidden);
	stroke-width: 1px;
}
.line.line-main {
	stroke: var(--colour-main);
	stroke-width: 3px;
}
.line.line-size {
	stroke: var(--colour-size);
	stroke-width: 4px;
}

.chart-label.line-affil {
	fill: var(--colour-affil);
}
.chart-label.line-hidden {
	fill: var(--colour-hidden);
}
.chart-label.line-main {
	fill: var(--colour-main);
}
.chart-label.line-size {
	fill: var(--colour-size);
}
	
.chart-content text {
	fill: white;
	font: 16px sans-serif;
	text-anchor: start;
}


.data-container svg {
	width: 100%;
}

g.y-axis text {
	text-anchor: end;
}
