.close-icon {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: var(--size-close-icon);
	height: var(--size-close-icon);
	padding: var(--size-close-icon-padding);
	text-align: center;
	font-size: var(--font-size-tab);
	font-weight: bold;
	color: var(--colour-orange-interactive);
	z-index: 2;
}
.close-icon:hover {
	transform: scale(1.15);
}

