.close-icon {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: var(--size-close-icon);
	height: var(--size-close-icon);
	padding: var(--size-close-icon-padding);
	text-align: center;
	font-size: var(--font-size-tab);
	font-weight: bold;
	color: var(--colour-orange-interactive);
	z-index: 2;
}
.tab .close-icon {
	top: 50%;
	transform: translateY(-50%);
}

svg.icon-x {
	--colour-ambient: rgb( 196,  98, 0);
	--colour-diffuse: rgb( 240, 145, 5);
}
.hide {
	display: none !important;
}
.icon-x {
	display: block;
	fill: black;
}
.icon-x .ambient {
	fill: var(--colour-ambient);
}
.icon-x .diffuse {
	fill: var(--colour-diffuse); 
}
.icon-x line {
	stroke: black;
	stroke-width: 5;
}
