:root {
	--size-close-icon-padding: 0.2em;
	--size-close-icon: calc(var(--size-tab-height) - 2 * var(--size-close-icon-padding));
}

.stack {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 0;
	width: var(--size-close-icon);
	height: var(--size-close-icon);
	padding: var(--size-close-icon-padding);
	text-align: center;
	font-size: var(--font-size-tab);
	font-weight: bold;
	color: var(--colour-orange-interactive);
	fill: black;
	z-index: 2;
}
.tab .stack {
	top: 50%;
	transform: translateY(-50%);
}
.close-icon {
	right: 0;
}
.min-icon {
	right: var(--size-close-icon);
}

svg.stack {
	--colour-ambient: rgb( 196,  98, 0);
	--colour-diffuse: rgb( 240, 145, 5);
}
.stack .ambient {
	fill: var(--colour-ambient);
}
.stack .diffuse {
	fill: var(--colour-diffuse); 
}
.stack line.plus {
	stroke: transparent;
}
.stack line,
.minimized .stack line.plus
 {
	stroke: black;
	stroke-width: 5;
}

