.multiselect {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	border: 1px solid var(--colour-orange-interactive);
	border-radius: 3px;
	box-shadow: 0 0 3px 3px var(--colour-orange-interactive-glow),
	      inset 0 0 3px 3px var(--colour-orange-interactive-glow);
	color: var(--colour-orange-interactive);
	text-shadow: 0 0 3px 3px var(--colour-orange-interactive-glow),
	             0 0 1px 1px black;
	margin: 0 0 auto 0;
	padding: 0.2em 0.4em;
	font-weight: bold;
	font-size: var(--font-size-tab);
}
.multiselect .anchor:hover {
	color: var(--colour-orange-hovered);
	cursor: pointer;
}

.multiselect .anchor {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

.multiselect .anchor + .ul {
	display: block;
	position: relative;
	box-sizing: border-box;
	max-height: 0;
	overflow-y: auto;
	visibility: hidden;
}
.multiselect .anchor.active + .ul {
	max-height: 10em;
	visibility: visible;
	margin-top: 0.3em;
	padding-top: 0.3em;
	border-top: 0.1em solid var(--colour-orange-interactive);
}

.multiselect .ul .li {
	display: block;
	position: relative;
	box-sizing: border-box;
}
.multiselect .ul .li:hover {
	color: var(--colour-orange-hovered);
	cursor: pointer;
}
.multiselect .ul .li.selected,
.multiselect .ul .li.selected:hover {
	color: rgb(0, 255, 100);
}

/* shadow list for selection */
.multiselect .anchor + .ul.doppelganger {
	visibility: show;
	display: block;
}
.multiselect .anchor.active + .ul.doppelganger {
	display: none;
}

.multiselect .ul.doppelganger .li {
	display: none;
}
.multiselect .ul.doppelganger .li.selected {
	display: block;
}

.multiselect .ul.doppelganger {
	margin-top: 0.3em;
	padding-top: 0.3em;
	border-top: 0.1em solid var(--colour-orange-interactive);
}

